<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="breadcrumb-shop">
        <ul class="">
            <li class="breadcrumb-shop_item">Trang Chủ</li>
            <li class="breadcrumb-shop_item">BACKPACKS | BALO</li>
        </ul>
    </div>

    <div class="thumb-header">
        <img src="/image/z3533341777412_f5edd4a273a3ef5093b6567f1acd7b0f_1d288245ef874e9fab99f73c62539549.jpg" alt="">
    </div>

    <div class="collection-header px-3 py-4 row">
        <h1>BACKPACKS | BALO</h1>
        <div>Sắp Xếp</div>
    </div>
</body>
</html>