<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="breadcrumb-shop">
        <ul class="">
            <li class="breadcrumb-shop_item"> Trang Chủ</li>
            <li class="breadcrumb-shop_item">BACKPACKS | BALO</li>
        </ul>
    </div>

    <div class="thumb-header">
        <img src="/image/z3533341777412_f5edd4a273a3ef5093b6567f1acd7b0f_1d288245ef874e9fab99f73c62539549.jpg" alt="">
    </div>

   <div class="product-list">
    <div class="product-list-header">
        <h2 class="">
            <a class="collection-name" href="">BACKPACKS | BALO</a>
        </h2>

        <div class="relative sort-container ">
          <div class="sort-header">
              <p class="sort-title">
                  <span class="sort-title_icon"><i class="fa-solid fa-arrow-down-a-z"></i></span>
                  <span class="sort-title_content">Sort By</span>
                  <span><i class="fa-thin fa-angle-down"></i></span>
              </p>
          </div>

          <ul class="sort-list">
            <li class="sort-option"><i class="fa-thin fa-check"></i>Sản phẩm nổi bật</li>
            <li class="sort-option">Giá: Tăng dần</li>
            <li class="sort-option">Giá: Giảm dần</li>
            <li class="sort-option">Tên: A-Z</li>
            <li class="sort-option">Tên: Z-A</li>
            <li class="sort-option">Cũ nhất</li>
            <li class="sort-option">Mới nhất</li>
          </ul>
        </div>
        
        

    </div>

    <div class="filter-container">
        <div class="filter-header ">
            <i class="fa-thin fa-filter"></i>
            <p>BỘ LỌC</p>
        </div>
        
        <div class="filter-list row">
            <div class="pd-0-15 width-22per">
              <div class="filter-list_option">
                Lọc Giá
                <i class="fa-thin fa-angle-down"></i>
              </div>
            </div>
            <div class="pd-0-15 width-22per">
              <div class="filter-list_option">
                Màu Sắc
                <i class="fa-thin fa-angle-down"></i>
              </div>
            </div>
            <div class="pd-0-15 width-22per">
              <div class="filter-list_option">
                Kích Thước
                <i class="fa-thin fa-angle-down"></i>
              </div>
            </div>
        </div>

    </div>

    <div class="product-list-container">
      <div class="product-item">
        <div class="product-item_image">
          <img src="/image/1496_b97a5425c8c247e596b08102b428ca40_master.webp" alt="">
        </div>
        <div class="product-item_description">
          <a href="">Balo Lưới Degrey - BLD</a>
          <p>390,000₫</p>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item_image">
          <img src="/image/1606_72e31746f97e4b1e8b220d231776dbf3_master.webp" alt="">
        </div>
        <div class="product-item_description">
          <a href="">Degrey Premium Leather Backpack - PLBP</a>
          <p>490,000₫</p>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item_image">
          <img src="/image/6494b116-a95f-42e1-bd99-33ae0fef78a3_c36ead4edfde4943b98b4ad16eb74463_master.webp" alt="">
        </div>
        <div class="product-item_description">
          <a href="">Balo Hạt Nhân Degrey - BHND</a>
          <p>420,000₫</p>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item_image">
          <img src="/image/e8d300a9-a2cc-4612-9b0a-4404dd8fc561_06b57e02648b4120abf61650a1f9a3e9_master.webp  " alt="">
        </div>
        <div class="product-item_description">
          <a href="">Degrey Tiedye Backpack - DTDB</a>
          <p>390,000₫</p>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item_image">
          <img src="/image/026c52bc-e4d4-4705-bb4e-cb146982d536_d1fc07bab7854243a07aff61cf671f6d_master.jpeg" alt="">
        </div>
        <div class="product-item_description">
          <a href="">TieDye BackPack Dark Green - TDBP dark green</a>
          <p>420,000₫</p>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item_image">
          <img src="/image/bbd_2c494632e83d4c20b543a37e75104dff_master.webp" alt="">
        </div>
        <div class="product-item_description">
          <a href="">Basic Backpack Degrey - BBD</a>
          <p>390,000₫</p>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item_image">
          <img src="/image/300_e2b80b862fd2499f858a17736ac4a613_master.webp" alt="">
        </div>
        <div class="product-item_description">
          <a href="">Basic Backpack Degrey Xám - BBD Xám</a>
          <p>390,000₫</p>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item_image">
          <img src="/image/551_4b4b87228bef440a8c6bd50f6ce3ccca_master.webp" alt="">
        </div>
        <div class="product-item_description">
          <a href="">Basic Backpack Degrey Trắng - BBD Trắng</a>
          <p>390,000₫</p>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item_image">
          <img src="/image/02545223-210d-42de-87e1-6ab9972d8909_da1f984debd8437e840cb51be29e6aa1_master.webp" alt="">
        </div>
        <div class="product-item_description">
          <a href="">Degrey Letter Backpack - DLBP</a>
          <p>420,000₫</p>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item_image">
          <img src="/image/z3448826597830_67f0c8a438c2dc5b39feb4d80eca47bf_61a521c030384a9c8bee8ff40137cb56_master.webp" alt="">
        </div>
        <div class="product-item_description">
          <a href="">Mono Degrey Backpack - MDB</a>
          <p>490,000₫</p>
        </div>
      </div>


      <div class="product-item">
        <div class="product-item_image">
          <img src="/image/35a222ce-36a9-41a5-99c6-4922fc612e5b_f76f0027eb0c4485bef8a96d74a9c57c_master.webp" alt="">
        </div>
        <div class="product-item_description">
          <a href="">Balo Degrey Graffiti - BDG</a>
          <p>420,000₫</p>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item_image">
          <img src="/image/1499_f6717e74f4434177ac7a06b59cd947f2_master.webp" alt="">
        </div>
        <div class="product-item_description">
          <a href="">Balo Nắp Degrey - BND</a>
          <p>390,000₫</p>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item_image">
          <img src="/image/fbae2fcc-d769-481c-a5a7-790010157fe7_896444fa114741d68da98093a94135c1_master.webp" alt="">
        </div>
        <div class="product-item_description">
          <a href="">Balo Gấu Tiedye - BGTD</a>
          <p>420,000₫</p>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item_image">
          <img src="/image/541_e09d798fb1f741cf94f4cfac24ab8b0d_master.webp" alt="">
        </div>
        <div class="product-item_description">
          <a href="">Balo Quốc Dân Trắng - BQD Trắng</a>
          <p>250,000₫</p>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item_image">
          <img src="/image/541_e09d798fb1f741cf94f4cfac24ab8b0d_master.webp" alt="">
        </div>
        <div class="product-item_description">
          <a href="">Balo Quốc Dân Trắng - BQD Trắng</a>
          <p>250,000₫</p>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item_image">
          <img src="/image/541_e09d798fb1f741cf94f4cfac24ab8b0d_master.webp" alt="">
        </div>
        <div class="product-item_description">
          <a href="">Balo Quốc Dân Trắng - BQD Trắng</a>
          <p>250,000₫</p>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item_image">
          <img src="/image/541_e09d798fb1f741cf94f4cfac24ab8b0d_master.webp" alt="">
        </div>
        <div class="product-item_description">
          <a href="">Balo Quốc Dân Trắng - BQD Trắng</a>
          <p>250,000₫</p>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item_image">
          <img src="/image/541_e09d798fb1f741cf94f4cfac24ab8b0d_master.webp" alt="">
        </div>
        <div class="product-item_description">
          <a href="">Balo Quốc Dân Trắng - BQD Trắng</a>
          <p>250,000₫</p>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item_image">
          <img src="/image/541_e09d798fb1f741cf94f4cfac24ab8b0d_master.webp" alt="">
        </div>
        <div class="product-item_description">
          <a href="">Balo Quốc Dân Trắng - BQD Trắng</a>
          <p>250,000₫</p>
        </div>
      </div>




    </div>


  </div>

  
    
</body>
</html>