<form method="post" class="mt-4" action="/collection/addProduct">
  <div class="form-group">
    <label for="exampleInputEmail1">Name Product</label>
    <input required type="text" class="form-control" name="name" >
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Price Product</label>
    <input required type="text" class="form-control" name="price" >
  </div>



  <div class="form-group">
    <label for="exampleInputEmail1">IDLoaiSanPham</label>
    <input required type="text" class="form-control" name="idsanpham" >
  </div>

  
  <div class="form-group">
    <label for="exampleInputEmail1">Sale</label>
    <input required type="text" class="form-control" name="sale" >
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">URL Image Main</label>
    <input required type="text" class="form-control" name="urlimg" >
  </div>

   <div class="form-group">
    <label for="exampleInputEmail1">URL Image 2</label>
    <input required type="text" class="form-control" name="urlimg" >
  </div>

   <div class="form-group">
    <label for="exampleInputEmail1">URL Image 3</label>
    <input required type="text" class="form-control" name="urlimg" >
  </div>

   <div class="form-group"> 
    <label for="exampleInputEmail1">URL Image 4</label>
    <input type="text" class="form-control" name="urlimg" >
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
