
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/css/all.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

</head>
<body>
  <div class="container">
    <header class="header">
      <div class="container-header">
        <div class="header-logo">
          <img src="https://file.hstatic.net/1000281824/file/tote-1_33445b051a404bb790b6d0df0275ac8d.png" alt="">
        </div>
        <div class="header-nav">
          <ul class="header-nav-container">
            <li class="header-nav-container_item bor-bot-black" >Trang Chủ</li>
            <li class="header-nav-container_item" >Sản Phẩm</li>
            <li class="header-nav-container_item" >Store</li>
            <li class="header-nav-container_item" >Giới Thiệu</li>
          </ul>
        </div>
        <div class="header-search">
          <i class="fa-thin fa-magnifying-glass"></i>
          <input type="text" placeholder="Tìm kiếm sản phẩm">
        </div>

        <div class="header-cart">
          <i class="fa-thin fa-cart-shopping"></i>
          <span>Giỏ Hàng</span>
          <span class="header-car_amount">0</span>
        </div>
      </div>
    </header>

    <div class="header-image">
      <img src="/img/z3639760698258_2bb7aabd56eee9bad5c1b00a537b0265_ac7e517daa8e49d2b114b9a546a45cd8.webp" alt="">
    </div>

    <div class="promotion-container col">
      <h2 class="promotion-title" >Đặc quyền cho bạn hôm nay!</h2>
      <div class="row">
        <div class="promotion-item col-sm">
          <span class="promotion-item_header">Degrey giao hoả tốc</span>
          <span class="promotion-item_description">Giờ đây bạn có thể nhận hàng nhanh trong ngày mà không cần chờ đợi tại Sài Gòn</span>
        </div>
        <div class="promotion-item col-sm">
          <span class="promotion-item_header">Degrey giao hoả tốc</span>
          <span class="promotion-item_description">Giờ đây bạn có thể nhận hàng nhanh trong ngày mà không cần chờ đợi tại Sài Gòn</span>
        </div>

        <div class="promotion-item col-sm">
          <span class="promotion-item_header">Degrey giao hoả tốc</span>
          <span class="promotion-item_description">Giờ đây bạn có thể nhận hàng nhanh trong ngày mà không cần chờ đợi tại Sài Gòn</span>
        </div>
        <div class="promotion-item col-sm">
          <span class="promotion-item_header">Degrey giao hoả tốc</span>
          <span class="promotion-item_description">Giờ đây bạn có thể nhận hàng nhanh trong ngày mà không cần chờ đợi tại Sài Gòn</span>
        </div>

        
      </div>
    </div>

  </div>
</body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
