<form method="post" >
  <div class="form-group mt-4">
    <label for="exampleInputEmail1">Search For</label>
    <input name="input" type="text" class="form-control" id="exampleInputEmail1" placeholder="Search">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>