
<!DOCTYPE html>

<html lang="vi">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8"/>		

		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
		<meta name="revisit-after" content="1 day" />
		<meta name="HandheldFriendly" content="true">
		<link rel="shortcut icon" href="https://file.hstatic.net/1000281824/file/logo1200_30471c131a2948efaf7c9e9466511f73.png" type="image/png" />
		<title>
			Balo Quốc D&#226;n Trắng - BQD Trắng &ndash; DEGREY VIETNAM
		</title>
			
		<meta name="keywords" content="DEGREY VIETNAM, google-site-verification=7d1bFlqBSY4yjFmmSY2xmzoMne2kyWJEis6UnRvQLtY">

		<meta name="robots" content="index,follow,noodp"> 
		<meta http-equiv="x-dns-prefetch-control" content="on">
		
        <link href='//fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap' rel='stylesheet' type='text/css'  media='all'  />
        <link rel="stylesheet" href="/css/app.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

        <link href='//theme.hstatic.net/1000281824/1000909729/14/style-themes.scss.css?v=35' rel='stylesheet' type='text/css'  media='all'  />

    </head>


    
    <meta name="google-site-verification" content="iVbNqcJw6p0FC-9HkmHeFEGR_CiamSYP7VzGIhCJE_c" />


	
	<body class="mainBody-theme  mainBody-mbcart   template-product" itemscope itemtype="http://schema.org/Website">
		
		<div class="mainBody-theme-container mainBody-modalshow  mainBody-product  ">
			<main class="wrapperMain_content ">

                <script>
                    var currentId = 1037891268;
                </script>

                <div id="product-template" class="layout-productDetail layout-pageProduct ">
                    <div class="breadcrumb-shop hidden-xs"><div class="container">
                    <div class="breadcrumb-list  ">
                        <ol class="breadcrumb breadcrumb-arrows" itemscope itemtype="http://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="/" target="_self" itemprop="item"><span itemprop="name">Trang chủ</span></a>
                                <meta itemprop="position" content="1" />		
                            </li>
                            
                            
                            

                            
                                        
                            
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="https://degrey.vn/collections/phu-kien" target="_self" itemprop="item">
                                    <span itemprop="name">PHỤ KIỆN</span>
                                </a>
                                <meta itemprop="position" content="1" />
                            </li>
                            

                            <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <span itemprop="item" content="https://degrey.vn/products/balo-quoc-dan-trang-bqd-trang">
                                    <strong itemprop="name">Balo Quốc Dân Trắng - BQD Trắng</strong>
                                </span>
                                <meta itemprop="position" content="3" />
                            </li>
                            
                            
                        </ol>
                    </div>
                </div></div>
                    <section class="productDetail-information productDetail_style__03">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 productDetail--gallery">
                                    <div class="product-container-gallery">
                                        <div class="wrapbox-image wrapbox-image-verticalSlide">
                                            
                                            <div class="productGallery_thumb ">
                                                <ul class="productList-thumb productSlick-thumb" id="productSlick-thumb">
                                                    
                                                    
                                                    <li class="product-thumb" data-image="//product.hstatic.net/1000281824/product/541_e09d798fb1f741cf94f4cfac24ab8b0d_compact.jpg">
                                                        <a class="product-thumb__item"  href="javascript:void(0);" >					
                                                            <img src="{{sanpham.UrlAnh}}" alt=" Balo Quốc D&#226;n Trắng - BQD Trắng ">
                                                        </a>					
                                                    </li>	
                                                    
                                                    
                                                    
                                                    <li class="product-thumb" data-image="//product.hstatic.net/1000281824/product/z3636138916648_daf46abec5d5424e7e4f93d635ceae47_d455947443fa43458aa4018f737c439d_compact.jpg">
                                                        <a class="product-thumb__item"  href="javascript:void(0);" >					
                                                            <img src="//product.hstatic.net/1000281824/product/z3636138916648_daf46abec5d5424e7e4f93d635ceae47_d455947443fa43458aa4018f737c439d_compact.jpg" alt=" Balo Quốc D&#226;n Trắng - BQD Trắng ">
                                                        </a>					
                                                    </li>	
                                                    
                                                    
                                                    
                                                    <li class="product-thumb" data-image="//product.hstatic.net/1000281824/product/z3636138935434_120a2cfc3a1c945c9c76e10ae9c65cc4_4e085085f6b24573a762899b337e154a_compact.jpg">
                                                        <a class="product-thumb__item"  href="javascript:void(0);" >					
                                                            <img src="//product.hstatic.net/1000281824/product/z3636138935434_120a2cfc3a1c945c9c76e10ae9c65cc4_4e085085f6b24573a762899b337e154a_compact.jpg" alt=" Balo Quốc D&#226;n Trắng - BQD Trắng ">
                                                        </a>					
                                                    </li>	
                                                    
                                                    
                                                    
                                                    <li class="product-thumb" data-image="//product.hstatic.net/1000281824/product/z3636138959645_73ff67e3261393c0fd60bc3ec8a48f73_847c0cfc92cb4791a42adcff95bf0ae6_compact.jpg">
                                                        <a class="product-thumb__item"  href="javascript:void(0);" >					
                                                            <img src="//product.hstatic.net/1000281824/product/z3636138959645_73ff67e3261393c0fd60bc3ec8a48f73_847c0cfc92cb4791a42adcff95bf0ae6_compact.jpg" alt=" Balo Quốc D&#226;n Trắng - BQD Trắng ">
                                                        </a>					
                                                    </li>	
                                                    
                                                    
                                                    
                                                    <li class="product-thumb" data-image="//product.hstatic.net/1000281824/product/z3636138946263_5cfd9462f30535706f00c62128add6a7_a4e46b75a9f54221a13de6e35b281156_compact.jpg">
                                                        <a class="product-thumb__item"  href="javascript:void(0);" >					
                                                            <img src="//product.hstatic.net/1000281824/product/z3636138946263_5cfd9462f30535706f00c62128add6a7_a4e46b75a9f54221a13de6e35b281156_compact.jpg" alt=" Balo Quốc D&#226;n Trắng - BQD Trắng ">
                                                        </a>					
                                                    </li>	
                                                    
                                                    
                                                    
                                                    <li class="product-thumb" data-image="//product.hstatic.net/1000281824/product/z3636139103240_0b9019d317c40582fefd06faec433604_f141aa1cf9a1419ebd79b9d58e3d9794_compact.jpg">
                                                        <a class="product-thumb__item"  href="javascript:void(0);" >					
                                                            <img src="//product.hstatic.net/1000281824/product/z3636139103240_0b9019d317c40582fefd06faec433604_f141aa1cf9a1419ebd79b9d58e3d9794_compact.jpg" alt=" Balo Quốc D&#226;n Trắng - BQD Trắng ">
                                                        </a>					
                                                    </li>	
                                                    
                                                    
                                                    
                                                    <li class="product-thumb" data-image="//product.hstatic.net/1000281824/product/z3636139120268_ee1d751086f5bc6c289f8886a37aa75e_eacbe56337b3489599ae3a7c42916938_compact.jpg">
                                                        <a class="product-thumb__item"  href="javascript:void(0);" >					
                                                            <img src="//product.hstatic.net/1000281824/product/z3636139120268_ee1d751086f5bc6c289f8886a37aa75e_eacbe56337b3489599ae3a7c42916938_compact.jpg" alt=" Balo Quốc D&#226;n Trắng - BQD Trắng ">
                                                        </a>					
                                                    </li>	
                                                    
                                                    
                                                    
                                                    <li class="product-thumb" data-image="//product.hstatic.net/1000281824/product/z3636139162772_fe6efba4d78bfd38a73e65cc4f9acbdc_ef8f1763aa39406a89d0b53bb979bd98_compact.jpg">
                                                        <a class="product-thumb__item"  href="javascript:void(0);" >					
                                                            <img src="//product.hstatic.net/1000281824/product/z3636139162772_fe6efba4d78bfd38a73e65cc4f9acbdc_ef8f1763aa39406a89d0b53bb979bd98_compact.jpg" alt=" Balo Quốc D&#226;n Trắng - BQD Trắng ">
                                                        </a>					
                                                    </li>	
                                                    
                                                    
                                                    
                                                    <li class="product-thumb" data-image="//product.hstatic.net/1000281824/product/z3636139140979_cc51c243b4456e5c9bc51e0a75a478d0_729bb2f2793443cbb8642072602c3dd5_compact.jpg">
                                                        <a class="product-thumb__item"  href="javascript:void(0);" >					
                                                            <img src="//product.hstatic.net/1000281824/product/z3636139140979_cc51c243b4456e5c9bc51e0a75a478d0_729bb2f2793443cbb8642072602c3dd5_compact.jpg" alt=" Balo Quốc D&#226;n Trắng - BQD Trắng ">
                                                        </a>					
                                                    </li>	
                                                    
                                                    
                                                    
                                                    <li class="product-thumb" data-image="//product.hstatic.net/1000281824/product/377ac0eac1bc9c326f798ee73f75c55b_3da3391b805b4ddaa34e86581c67b949_compact.jpeg">
                                                        <a class="product-thumb__item"  href="javascript:void(0);" >					
                                                            <img src="//product.hstatic.net/1000281824/product/377ac0eac1bc9c326f798ee73f75c55b_3da3391b805b4ddaa34e86581c67b949_compact.jpeg" alt=" Balo Quốc D&#226;n Trắng - BQD Trắng ">
                                                        </a>					
                                                    </li>	

                                                    
                                                    
                                                    
                                                </ul>		
                                            </div>
                                            <div class="productGallery_slider rel">	
                                                <ul class="productList-slider productSlick-slider" id="productSlick-slider">
                                                    
                                                    <li class="product-gallery"  data-image="//product.hstatic.net/1000281824/product/541_e09d798fb1f741cf94f4cfac24ab8b0d_master.jpg"   >
                                                        <img src="{{sanpham.UrlAnh}}" alt=" Balo Quốc D&#226;n Trắng - BQD Trắng ">	
                                                    </li>	
                                                    
                                                    
                                                    
                                                    <li class="product-gallery"  data-image="//product.hstatic.net/1000281824/product/z3636138916648_daf46abec5d5424e7e4f93d635ceae47_d455947443fa43458aa4018f737c439d_master.jpg"   >
                                                        
                                                        <img src="//product.hstatic.net/1000281824/product/z3636138916648_daf46abec5d5424e7e4f93d635ceae47_d455947443fa43458aa4018f737c439d_master.jpg" alt=" Balo Quốc D&#226;n Trắng - BQD Trắng ">
                                                        					
                                                    </li>	
                                                    
                                                    
                                                    
                                                    <li class="product-gallery"  data-image="//product.hstatic.net/1000281824/product/z3636138935434_120a2cfc3a1c945c9c76e10ae9c65cc4_4e085085f6b24573a762899b337e154a_master.jpg"   >
                                                        	
                                                        <img src="//product.hstatic.net/1000281824/product/z3636138935434_120a2cfc3a1c945c9c76e10ae9c65cc4_4e085085f6b24573a762899b337e154a_master.jpg" alt=" Balo Quốc D&#226;n Trắng - BQD Trắng ">
                                                      					
                                                    </li>	
                                                    
                                                    
                                                    
                                                    <li class="product-gallery"  data-image="//product.hstatic.net/1000281824/product/z3636138959645_73ff67e3261393c0fd60bc3ec8a48f73_847c0cfc92cb4791a42adcff95bf0ae6_master.jpg"   >
                                                       
                                                        <img src="//product.hstatic.net/1000281824/product/z3636138959645_73ff67e3261393c0fd60bc3ec8a48f73_847c0cfc92cb4791a42adcff95bf0ae6_master.jpg" alt=" Balo Quốc D&#226;n Trắng - BQD Trắng ">
                                                     					
                                                    </li>	
                                                    
                                                    
                                                    
                                                    <li class="product-gallery"  data-image="//product.hstatic.net/1000281824/product/z3636138946263_5cfd9462f30535706f00c62128add6a7_a4e46b75a9f54221a13de6e35b281156_master.jpg"   >
                                                       	
                                                        <img src="//product.hstatic.net/1000281824/product/z3636138946263_5cfd9462f30535706f00c62128add6a7_a4e46b75a9f54221a13de6e35b281156_master.jpg" alt=" Balo Quốc D&#226;n Trắng - BQD Trắng ">
                                                       					
                                                    </li>	
                                                    
                                                    
                                                    
                                                    <li class="product-gallery"  data-image="//product.hstatic.net/1000281824/product/z3636139103240_0b9019d317c40582fefd06faec433604_f141aa1cf9a1419ebd79b9d58e3d9794_master.jpg"   >
                                                        
                                                        <img src="//product.hstatic.net/1000281824/product/z3636139103240_0b9019d317c40582fefd06faec433604_f141aa1cf9a1419ebd79b9d58e3d9794_master.jpg" alt=" Balo Quốc D&#226;n Trắng - BQD Trắng ">
                                                  					
                                                    </li>	
                                                    
                                                    
                                                    
                                                    <li class="product-gallery"  data-image="//product.hstatic.net/1000281824/product/z3636139120268_ee1d751086f5bc6c289f8886a37aa75e_eacbe56337b3489599ae3a7c42916938_master.jpg"   >
                                                        
                                                        <img src="//product.hstatic.net/1000281824/product/z3636139120268_ee1d751086f5bc6c289f8886a37aa75e_eacbe56337b3489599ae3a7c42916938_master.jpg" alt=" Balo Quốc D&#226;n Trắng - BQD Trắng ">
                                                        					
                                                    </li>	
                                                    
                                                    
                                                    
                                                    <li class="product-gallery"  data-image="//product.hstatic.net/1000281824/product/z3636139162772_fe6efba4d78bfd38a73e65cc4f9acbdc_ef8f1763aa39406a89d0b53bb979bd98_master.jpg"   >
                                                        	
                                                        <img src="//product.hstatic.net/1000281824/product/z3636139162772_fe6efba4d78bfd38a73e65cc4f9acbdc_ef8f1763aa39406a89d0b53bb979bd98_master.jpg" alt=" Balo Quốc D&#226;n Trắng - BQD Trắng ">
                                                      					
                                                    </li>	
                                                    
                                                    
                                                    
                                                    <li class="product-gallery"  data-image="//product.hstatic.net/1000281824/product/z3636139140979_cc51c243b4456e5c9bc51e0a75a478d0_729bb2f2793443cbb8642072602c3dd5_master.jpg"   >
                                                        	
                                                        <img src="//product.hstatic.net/1000281824/product/z3636139140979_cc51c243b4456e5c9bc51e0a75a478d0_729bb2f2793443cbb8642072602c3dd5_master.jpg" alt=" Balo Quốc D&#226;n Trắng - BQD Trắng ">
                                                       					
                                                    </li>	
                                                    
                                                    
                                                    
                                                    <li class="product-gallery"  data-image="//product.hstatic.net/1000281824/product/377ac0eac1bc9c326f798ee73f75c55b_3da3391b805b4ddaa34e86581c67b949_master.jpeg"   >
                                                        
                                                        <img src="//product.hstatic.net/1000281824/product/377ac0eac1bc9c326f798ee73f75c55b_3da3391b805b4ddaa34e86581c67b949_master.jpeg" alt=" Balo Quốc D&#226;n Trắng - BQD Trắng ">
                                                        					
                                                    </li>	
                                                    
                                                    
                                                </ul>

                                                <button class="productSlider-backBtn"><i class="fa-light fa-chevron-left"></i></i></button>
                                                <button class="productSlider-nextBtn"><i class="fa-light fa-chevron-right"></i></button>



                                                <div class="product-sharing">
                                                    <span class="sharing__iconCircleState">
                                                        <span class="sharing__primaryState"> <svg class="icon icon--share" role="presentation" viewBox="0 0 24 24"> <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-width="1.5"> <path d="M8.6,10.2 L15.4,6.8"></path> <path d="M8.6,13.7 L15.4,17.1"></path> <circle stroke-linecap="square" cx="5" cy="12" r="4"></circle> <circle stroke-linecap="square" cx="19" cy="5" r="4"></circle> <circle stroke-linecap="square" cx="19" cy="19" r="4"></circle> </g> </svg> </span>
                                                        <span class="sharing__secondaryState"> <svg class="icon icon--close" role="presentation" viewBox="0 0 16 14"> <path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path> </svg> </span>
                                                    </span>	
                                                    <a href="//www.facebook.com/sharer/sharer.php?u=https://degrey.vn/products/balo-quoc-dan-trang-bqd-trang" target="_blank">
                                                        <span class="facebook" aria-hidden="true">
                                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve"><g><path d="M16.4,1l-3.1,0C9.8,1,9.6,3.3,9.6,6.8v1.7H6.5C6.2,8.5,6,8.8,6,9v1.9c0,0.3,0.2,0.5,0.5,0.5h3.1v9.9c0,0.3,0.2,0.5,0.5,0.5h2c0.3,0,0.5-0.2,0.5-0.5v-9.9h3.6c0.3,0,0.5-0.2,0.5-0.5l0-1.9c0-0.1-0.1-0.3-0.1-0.3c-0.1-0.1-0.2-0.1-0.3-0.1h-3.6V5.3c0-1.1,0.3-1.7,1.7-1.7l2.1,0c0.3,0,0.5-0.2,0.5-0.5V1.5C16.8,1.2,16.6,1,16.4,1z"/></g></svg>
                                                        </span>	<span class="toollip-txt">Chia sẻ facebook</span>
                                                    </a> 
                                                    <a class="sharing__link" onclick="HRT.Product.copyLinkProduct()">
                                                        <span class="url-link" aria-hidden="true">
                                                            <i class="fa fa-link" aria-hidden="true"></i>
                                                        </span>
                                                        <span class="toollip-txt">Sao chép url</span>
                                                    </a>
                                                </div>
                                            </div>					
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 productDetail--content" id="detail-product">
                                    <div class="product-container-detail">
                                        <div class="product-container-order">
                                            <div class="product-variants">
                                                
                                                    
                                                <form id="add-item-form" action="/cart/add" method="post" class="variants clearfix">		
                                                    <div class="select clearfix">
                                                        <select id="product-select" name="id" style="display:none;">
                                                            
                                                            <option value="1089815583">BALO - 250,000₫</option>
                                                            
                                                        </select>
                                                    </div>
                                                    <div class="select-swatch clearfix">
                                                        
                                                    </div>
                                                    <div class="select-actions hidden-xs hidden-sm clearfix">
                                                        <div class="quantity-area clearfix">
                                                            <input type="button" value="-" class="qty-btn minusBtn">
                                                            <input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-input">
                                                            <input type="button" value="+"  class="qty-btn plusBtn">
                                                        </div>

                                                        <div class="addcart-area">			
                                                            <button type="button" id="add-to-cart"  class=" add-to-cartProduct button dark btn-addtocart addtocart-modal " name="add"> 
                                                                    Thêm vào giỏ 
                                                            </button>
                                                            <button type="button" id="buy-now" disabled  class="disabled add-to-cartProduct button dark btn-addtocart addtocart-modal hidden " name="add"> 
                                                                    Mua ngay 
                                                            </button>
                                                        </div>	
                                                    </div>
                                                    
                                                </form>
                                            </div>
                                            <div class="product-heading">
                                                <h1>{{sanpham.TenSanPham}}</h1>
                                                <ul class="product-meta hidden-lg hidden-md hidden-sm hidden-xs">
                                                    
                                                    <li class="pro-sku">Mã sản phẩm: <span>SP001815</span></li>
                                                    
                                                    <li class="pro-vendor">Thương hiệu: 
                                                        <a href="/collections/vendors?q=degrey">DEGREY</a>						
                                                    </li>

                                                </ul>
                                            </div>
                                            <div class="product-price" id="price-preview">
                                                
                                                <span class="pro-price">{{sanpham.GiaSanPham}},000₫</span>
                                                                            </div>
                                        </div>
                                        <div class="product-available">
                                            <p class="txt-inventory">
                                                
                                                
                                                
                                                Đã bán gần hết 
                                                
                                                
                                            </p>
                                        </div>
                                        <div class="combo-info d-none">
                                            <h3 class="combo-info--title">THƯỜNG ĐƯỢC MUA CÙNG</h3>
                                        </div>
                                        <div class="product-coutdown product-coutdown-jsdata">
                                            
                                        </div>
                <div class="product-policy-detail">
                    <div class="item-policy-detail">
                        Freeship đơn hàng giá trị trên 1 triệu đồng
                    </div>
                        <div class="item-policy-detail">
                        Đổi hàng chưa qua sử dụng trong vòng 30 ngày
                    </div>
                </div>


                <div class="product-description product-description--accordion">	
                    <div class="panel-group opened">
                        <div class="panel-title"><h2>THông tin sản phẩm <i class="fa fa-plus"></i></h2></div>							
                        <div class="panel-description " style="display:block" >
                            <div class="description-productdetail typeList-style">	<p>- Chất liệu: Canvas pha Poly</p><p>- Hoạ tiết: Được in trực tiếp lên sản phẩm</p><p>- Size: 40cm X 30cm X 12cm</p><p>- Ngăn chống sốc đựng vừa laptop 15inch&nbsp;</p><p>- Thương hiệu: Degrey</p><p>- Sản xuất: Việt Nam</p><p>- Màu sắc và họa tiết được thiết kế riêng bởi team design DEGREY</p><p>&nbsp;</p><p>+ HƯỚNG DẪN BẢO QUẢN SẢN PHẨM DEGREY:</p><p>- Không dùng hóa chất tẩy mạnh lên sản phẩm</p><p>- Không dùng vật dụng sắc, nhọn cà trực tiếp lên bề mặt Balo</p><p>- Không giặt máy</p><p>- Sử dụng bàn chải có lông mềm</p><p>- Tuyệt đối không dùng bàn chải cước cứng sẽ gây ra các vết xước trên nền vải</p><p>&nbsp;</p><p>+ CHÍNH SÁCH ĐỔI SẢN PHẨM:</p><p>1.Điều kiện đổi hàng</p><p>- Bạn lưu ý giữ lại hoá đơn để đổi hàng trong vòng 30 ngày.</p><p>- Đối với mặt hàng giảm giá, phụ kiện cá nhân (áo lót, khẩu trang, vớ ...) không nhận đổi hàng.</p><p>- Tất cả sản phẩm đã mua sẽ không được đổi trả lại bằng tiền mặt.</p><p>- Bạn có thể đổi size hoặc sản phẩm khác trong 30 ngày (Lưu ý: sản phẩm chưa qua sử dụng, còn tag nhãn và hóa đơn mua hàng.)</p><p>- Bạn vui lòng gửi cho chúng mình clip đóng gói và hình ảnh của đơn hàng đổi trả của bạn, nhân viên tư vấn sẽ xác nhận và tiến hành lên đơn đổi trả cho bạn.</p><p>&nbsp;</p><p>2. Trường hợp khiếu nại</p><p>- Bạn phải có video unbox hàng</p><p>- Quay video rõ nét 6 mặt của gói hàng</p><p>- Quay rõ: Tên người nhận, mã đơn, địa chỉ, số điện thoại.</p><p>- Video không cắt ghép, chỉnh sửa</p><p>- Degrey xin không tiếp nhận giải quyết các trường hợp không thỏa các điều kiện trên.</p><p style="margin-top:4px">&nbsp;</p>	</div>
                        </div>
                    </div>
                    <!-- TAB 1-->
                    
                    <!-- TAB 2-->
                    
                    <!-- TAB 3-->
                    

                    <div class="panel-group">
                        <div class="panel-title">
                            <h2>
                                Dịch vụ giao hàng

                                <i class="fa fa-plus"></i>
                            </h2>
                        </div>		
                        <div class="panel-description description-content">
                            <div class="product-deliverly">	
                                <ul class="infoList-deliverly">
                                    
                                    
                                    
                                    
                                    
                                    <li>
                                        <span>
                                            <img class="lazyload" data-src="https://file.hstatic.net/1000397797/file/delivery-ico1_f26631929e1b41dab022d9960006297c.svg" 
                                                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                                    alt="Cam kết 100% ch&#237;nh h&#227;ng Degrey"/>
                                        </span>
                                        Cam kết 100% chính hãng Degrey
                                    </li>
                                    
                                    
                                    
                                    
                                    
                                    
                                    <li>
                                        <span>
                                            <img class="lazyload" data-src="https://file.hstatic.net/1000397797/file/delivery-ico2_5ea2de2f279b4dbfa10fcb9b9c448b4d.svg" 
                                                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                                    alt="Giao h&#224;ng dự kiến: 
                Thứ 2 - Thứ 7 từ 9h00 - 17h00"/>
                                        </span>
                                        Giao hàng dự kiến: <br>
                <strong>Thứ 2 - Thứ 7 từ 9h00 - 17h00</strong>
                                    </li>
                                    
                                    
                                    
                                    
                                    
                                    
                                    <li>
                                        <span>
                                            <img class="lazyload" data-src="https://file.hstatic.net/1000397797/file/delivery-ico3_dd589d9c49584441a9ef0c2f9300649f.svg" 
                                                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                                    alt="Hỗ trợ 24/7
                Với c&#225;c k&#234;nh chat, email &amp; phone"/>
                                        </span>
                                        Hỗ trợ 24/7<br>
                Với các kênh chat, email & phone
                                    </li>
                                    
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TAB 4-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                    <!-- genneral -->
                    <section class="productDetail-toolbar visible-sm visible-xs" id="product-toolbar">
                        <div class="productToolbar-addcart ">
                            <div class="container">
                                <div class="product-actions">
                                    <div class="block-quantity quantity-selector ">
                                        <input type="button" value="-" onclick="HRT.All.minusQuantity()" class="qty-btn">
                                        <input type="text" id="quantity-bottom" name="quantity" value="1" min="1" class="quantity-number">
                                        <input type="button" value="+" onclick="HRT.All.plusQuantity()" class="qty-btn">
                                    </div>
                                    <div class="block-addcart">						
                                        <button type="button" id="add-to-cartBottom" class=" add-to-cartProduct btnred button dark btn-addtocart addtocart-modal" name="add"> 
                                                Thêm vào giỏ 
                                        </button>
                                    </div>	
                                </div>
                            </div>
                        </div>	
                    </section>
                    <div class="productDetail-linkcopy"><input class="linkToCopy" readonly="readonly" value="https://degrey.vn/products/balo-quoc-dan-trang-bqd-trang" id="myInput"></div>
                </div>

		    </main>


			<div id="sitenav-overlay" class="sitenav-overlay"></div>

            <!-- chatbot harafunnel -->
            <div class="harafunnel-mb visible-xs visible-sm">
                <a href="https://m.me/992002247559604" target="_blank" rel="noreferrer" aria-label="messenger">
                    <svg width="60px" height="60px" viewBox="0 0 60 60" cursor="pointer"><svg x="0" y="0" width="60px" height="60px"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g><circle fill="#0A7CFF" cx="30" cy="30" r="30"></circle><svg x="10" y="10"><g transform="translate(0.000000, -10.000000)" fill="#FFFFFF"><g id="logo" transform="translate(0.000000, 10.000000)"><path d="M20,0 C31.2666,0 40,8.2528 40,19.4 C40,30.5472 31.2666,38.8 20,38.8 C17.9763,38.8 16.0348,38.5327 14.2106,38.0311 C13.856,37.9335 13.4789,37.9612 13.1424,38.1098 L9.1727,39.8621 C8.1343,40.3205 6.9621,39.5819 6.9273,38.4474 L6.8184,34.8894 C6.805,34.4513 6.6078,34.0414 6.2811,33.7492 C2.3896,30.2691 0,25.2307 0,19.4 C0,8.2528 8.7334,0 20,0 Z M7.99009,25.07344 C7.42629,25.96794 8.52579,26.97594 9.36809,26.33674 L15.67879,21.54734 C16.10569,21.22334 16.69559,21.22164 17.12429,21.54314 L21.79709,25.04774 C23.19919,26.09944 25.20039,25.73014 26.13499,24.24744 L32.00999,14.92654 C32.57369,14.03204 31.47419,13.02404 30.63189,13.66324 L24.32119,18.45264 C23.89429,18.77664 23.30439,18.77834 22.87569,18.45674 L18.20299,14.95224 C16.80079,13.90064 14.79959,14.26984 13.86509,15.75264 L7.99009,25.07344 Z"></path></g></g></svg></g></g></svg></svg>
                </a>
            </div>

		</div>

        <div id="menu-mb">
            <div class="wrapper-menu-mb">
                <div class="menu-mb-inner">
                    <ul class="section-tab-menu-mb">
                        <li data-handle="phu-kien" class="active">
                            <span>PHỤ KIỆN</span>
                        </li>
                        <li data-handle="ao" class="">
                            <span>ÁO</span>
                        </li>
                        <li data-handle="quan" class="">
                            <span>QUẦN</span>
                        </li>
                    </ul>
                    <div data-handle="phu-kien" class="active menu-tab-mb section-menu-mb-tab">
                        <ul>
                            <li class="cate-item ">
                                <div class="bg-menu-mb">
                                    <a href="/collections/backpacks-balo" title="Ba lô | Backpacks">Ba lô | Backpacks</a>
                                </div>
                            </li>	
                            <li class="cate-item ">
                                <div class="bg-menu-mb">
                                    <a href="/collections/bag-tui" title="Túi | Bag">Túi | Bag</a>
                                </div>
                            </li>	
                            <li class="cate-item ">
                                <div class="bg-menu-mb">
                                    <a href="/collections/wallets-vi" title="Ví | Wallet">Ví | Wallet</a>
                                </div>
                            </li>	
                            <li class="cate-item ">
                                <div class="bg-menu-mb">
                                    <a href="/collections/gau-bong" title="Xoài bông">Xoài bông</a>
                                </div>
                            </li>	
                        </ul>
                    </div>
                    <div data-handle="ao" class=" menu-tab-mb section-menu-mb-tab">
                        <ul>
                            <li class="cate-item ">
                                <div class="bg-menu-mb">
                                    <a href="/collections/jacket" title="Áo khoác | Jacket">Áo khoác | Jacket</a>
                                </div>
                            </li>	
                            <li class="cate-item ">
                                <div class="bg-menu-mb">
                                    <a href="/collections/tee" title="Áo thun | Tshirt">Áo thun | Tshirt</a>
                                </div>
                            </li>	
                            <li class="cate-item ">
                                <div class="bg-menu-mb">
                                    <a href="/collections/shirt" title="Sơ mi | Shirt">Sơ mi | Shirt</a>
                                </div>
                            </li>	
                            <li class="cate-item ">
                                <div class="bg-menu-mb">
                                    <a href="/collections/sweater" title="Áo tay dài | Sweater">Áo tay dài | Sweater</a>
                                </div>
                            </li>	
                            <li class="cate-item ">
                                <div class="bg-menu-mb">
                                    <a href="/collections/hoodie" title="Áo trùm đầu | Hoodie">Áo trùm đầu | Hoodie</a>
                                </div>
                            </li>	
                        </ul>
                    </div>
                    <div data-handle="quan" class=" menu-tab-mb section-menu-mb-tab">
                        <ul>
                            <li class="cate-item ">
                                <div class="bg-menu-mb">
                                    <a href="/collections/pants" title="Quần dài | Pants">Quần dài | Pants</a>
                                </div>
                            </li>	
                            <li class="cate-item ">
                                <div class="bg-menu-mb">
                                    <a href="/collections/short" title="Quần ngắn | Short">Quần ngắn | Short</a>
                                </div>
                            </li>	
                        </ul>
                    </div>
                </div>
            </div>
            <button class="close-menu-mb"></button>
            <div class="menu-mb-overlay"></div>
        </div>		
        <div class="siteCart-mobile">
			<div class="siteCart-mobile__header">
				<div class="boxinfo p-count">1 sản phẩm </div>
				<div class="boxinfo p-price">390,000₫</div>
				<div class="boxinfo">Xem chi tiết</div>
			</div>
			<div class="siteCart-mobile__dialog">	
				<div class="siteCart-mobile__header">
					<div class="boxinfo p-count">1 sản phẩm </div>
					<div class="boxinfo p-price">390,000₫</div>
					<div class="boxinfo">Đóng</div>
				</div>
				<div class="siteCart-mobile__body">	



                <div class="sitenav-content sitenav-cart ">
                    <div class="sitenav-content__title">
                        <p class="txt-title">Giỏ hàng</p>
                    </div>

                    <div class="sitenav-content__block cart-view">
                        <div class="cart-view-scroll sitenav-boxscroll">	
                            <div  class="table-clone-cart">
                                <div class="mini-cart__item hidden">
                                    <div class="mini-cart__left"><a class="mnc-link" href="" title=""><img src="" alt="" /></a></div>
                                    <div class="mini-cart__right">
                                        <p class="mini-cart__title">	
                                            <a class="mnc-title mnc-link" href="" title=""></a>
                                            <span class="mnc-variant">	</span>	
                                        </p>
                                        <div class="mini-cart__quantity">
                                            <div class="quantity-selector">
                                                <button class="qty-btn mnc-minus">
                                                    <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <rect height="1" width="18" y="9" x="1"></rect></svg></button>
                                                <input class="qty-value mnc-value" type="text" readonly="" name="mnc-quantity" value="">
                                                <button class="qty-btn mnc-plus"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <rect x="9" y="1" width="1" height="17"></rect> <rect x="1" y="9" width="17" height="1"></rect></svg>
                                                </button>
                                            </div>			
                                            <div class="mini-cart__price"><span class="mnc-price">0₫</span> </div>
                                        </div>				
                                        <div class="mini-cart__remove"></div>	
                                    </div>
                                </div>   
                            </div>
                            <div  class="cart-view-render" >
                                
                                
                                <div class="mini-cart__item">
                                    <div class="mini-cart__left">
                                        <a class="mnc-link" href="/products/degrey-galaxy-backpack-dgb">
                                            <img src=" //product.hstatic.net/1000281824/product/5be4f351-7a9a-4b70-971d-ed545ce7212c_16998439b0604aeda9c1927ba1100b6b_small.jpeg  " alt="Degrey Galaxy Backpack - DGB" />
                                        </a>
                                    </div>
                                    <div class="mini-cart__right">
                                        <p class="mini-cart__title">	
                                            <a class="mnc-title mnc-link" href="/products/degrey-galaxy-backpack-dgb" title="Degrey Galaxy Backpack - DGB">Degrey Galaxy Backpack - DGB</a>
                                            <span class="mnc-variant">
                                                
                                                BALO
                                                        
                                            </span>	
                                        </p>

                                        <div class="mini-cart__quantity">					
                                            <div class="quantity-selector">
                                                
                <button class="qty-btn mnc-minus">
                                                    <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <rect height="1" width="18" y="9" x="1"></rect></svg></button>
                                                <input class="qty-value  " type="text" readonly="" name="mnc-quantity" value="1">
                <button class="qty-btn mnc-plus"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <rect x="9" y="1" width="1" height="17"></rect> <rect x="1" y="9" width="17" height="1"></rect></svg>
                                                </button>
                                            </div>			
                                            <div class="mini-cart__price"><span class="mnc-price">390,000₫</span> </div>
                                        </div>
                                        <div class="mini-cart__remove">
                                            <a href='javascript:void(0);' onclick='HRT.All.deleteCart(1,1061647185)' >
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"> <g><path d="M500,442.7L79.3,22.6C63.4,6.7,37.7,6.7,21.9,22.5C6.1,38.3,6.1,64,22,79.9L442.6,500L22,920.1C6,936,6.1,961.6,21.9,977.5c15.8,15.8,41.6,15.8,57.4-0.1L500,557.3l420.7,420.1c16,15.9,41.6,15.9,57.4,0.1c15.8-15.8,15.8-41.5-0.1-57.4L557.4,500L978,79.9c16-15.9,15.9-41.5,0.1-57.4c-15.8-15.8-41.6-15.8-57.4,0.1L500,442.7L500,442.7z"/></g> </svg>
                                            </a>
                                        </div>				
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>	
                        <div class="cart-view-line"></div>
                        <div class="cart-view-total">
                            <div class="mini-cart">
                                <div class="mini-cart__total">
                                    <div class="mnc-total mnc-total-text">TỔNG TIỀN:</div>
                                    <div class="mnc-total mnc-total-price" id="total-view-cart">390,000₫</div>
                                </div>
                            
                                <div class="mini-cart__button">
                                    <div class="mnc-cta"><a href="/cart" class="linktocart button btnred">Xem giỏ hàng</a></div>
                                    <div class="mnc-cta"><a href="/checkout" class="linktocheckout button btnred">Thanh toán</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

	        </div>	
			</div>
			<div class="siteCart-mobile__overlay"></div>
		</div>	
        <div class="modal" tabindex="-1" role="dialog" id="modal-addcart">
            <div class="modal-dialog atc-modal modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thêm vào giỏ hàng</h5>
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="atc-modal__item">

                        </div>
                    </div>
                    <div class="modal-footer hidden">
                        <div class="product-carousel">
                            <h4 class="similar-items__title">Sản phẩm liên quan</h4>
                            <div class="arrow--left insta-arrow--left" role="button"></div>
                            <div class="arrow--right insta-arrow--right" role="button"></div>
                            <div class="crosssell-product--pdp">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>		
        <div id="quick-view-modal" class="wrapper-quickview" >	
            <div class="jsQuickview">
                <div class="modal-paramlink">
                    <div class="paramlink-topbar text-center">
                        <h4 class="purl-title"><span></span></h4>
                        <p class="purl-link">degrey.vn</p>
                    </div>
                </div>
                <div class="modal-detailProduct">	</div>
                <div class="quickview-close">
                    <a href="javascript:void(0);">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"> <g> <path d="M19,981.1c6,6,13.8,8.9,21.6,8.9c7.8,0,15.7-3,21.7-9L500,542.8L937.7,981c6,6,13.8,9,21.7,9c7.8,0,15.7-3,21.6-8.9c12-11.9,12-31.3,0-43.3L543.8,500L981,62.3c11.9-12,11.9-31.4,0-43.3c-12-12-31.4-12-43.3,0L500,457.2L62.3,19C50.3,7,30.9,7,19,19C7,30.9,7,50.3,19,62.3L456.1,500L19,937.7C7,949.7,7,969.1,19,981.1L19,981.1z" /> </g> </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="quickviewOverlay"></div>


	</body>

    <script>
        var items = document.querySelectorAll('.product-gallery')
        var count = 0;
        const widthSlider = 100 * (items.length-1);
        var slider = document.getElementById('productSlick-slider');
        var nextBtn = document.querySelector('.productSlider-nextBtn')
        var backBtn = document.querySelector('.productSlider-backBtn')


         nextBtn.addEventListener('click', function(){
          if(count < widthSlider){
              count += 100;
          }
          slider.style.transform = `translateX(-${count}%)`;
        })

        backBtn.addEventListener('click', function(){

          if(count > 0){
              count -= 100;
          }
          slider.style.transform = `translateX(-${count}%)`;
      })


        
        var plusBtn = document.querySelector('.plusBtn');

        plusBtn.addEventListener('click', function(){
            var quantity = document.getElementById('quantity').value;
            quantity ++;
            document.getElementById('quantity').value = quantity;
        })

        var minusBtn = document.querySelector('.minusBtn');
        minusBtn.addEventListener('click', function(){
            var quantity = document.getElementById('quantity').value;
            if(quantity > 1){
            quantity --;

            }
            document.getElementById('quantity').value = quantity;
        })


        addBtn = document.getElementById('add-to-cart');
        
        addBtn.addEventListener('click', function(){
            var quantity = document.getElementById('quantity').value;
            var quantityCart = document.querySelectorAll('.header-cart span')[1];
            var quantityCartNumber = parseInt(quantityCart.textContent);
            quantityCartNumber ++ ;
            quantityCart.textContent = quantityCartNumber
        })

        var productThumb = document.querySelectorAll('.product-thumb');

        for(var i = 0 ; i < productThumb.length ; i ++){
            productThumb[i].setAttribute("index",i)
        }



        for(var i = 0 ; i < productThumb.length ; i++){
            productThumb[i].onclick = function(e){
                var item = e.target.parentElement.parentElement

                count = item.getAttribute("index")*100;
                slider.style.transform = `translateX(-${count}%)`;
                
            }
        }

    </script>
</html>