<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>		

		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
		<meta name="revisit-after" content="1 day" />
		<meta name="HandheldFriendly" content="true">
		<link rel="shortcut icon" href="https://file.hstatic.net/1000281824/file/logo1200_30471c131a2948efaf7c9e9466511f73.png" type="image/png" />
		<title>
		</title>	
		<meta name="keywords" content="DEGREY VIETNAM, google-site-verification=7d1bFlqBSY4yjFmmSY2xmzoMne2kyWJEis6UnRvQLtY">

		<meta name="robots" content="index,follow,noodp"> 
		<meta http-equiv="x-dns-prefetch-control" content="on">
		<link rel="dns-prefetch" href="https://degrey.vn">
		<link rel="dns-prefetch" href="//hstatic.net">
		<link rel="dns-prefetch" href="//theme.hstatic.net/">
		<link rel="dns-prefetch" href="//product.hstatic.net/">
		<link rel="dns-prefetch" href="//file.hstatic.net/">
		<link rel="dns-prefetch" href="//www.google-analytics.com/">
		<link rel="dns-prefetch" href="//www.googletagmanager.com/">
		<link rel="dns-prefetch" href="//www.google.com">
		<link rel="dns-prefetch" href="//fonts.gstatic.com">
		<link rel="dns-prefetch" href="//fonts.googleapis.com">
		<link rel="dns-prefetch" href="//www.facebook.com">
		<link rel="dns-prefetch" href="//connect.facebook.net">
		<link rel="dns-prefetch" href="//static.ak.facebook.com">
		<link rel="dns-prefetch" href="//static.ak.fbcdn.net">
		<link rel="dns-prefetch" href="//s-static.ak.facebook.com">
		<link rel="preload" as="style" href="//theme.hstatic.net/1000281824/1000909729/14/style-themes.scss.css?v=35">
		<link rel="preload" href="https://file.hstatic.net/1000281824/file/tote-1_33445b051a404bb790b6d0df0275ac8d.png" as="image"> 
		<link rel="preconnect" href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap">
		<link rel="preload" href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap" as="style"> 
		<link rel="preload" href="//hstatic.net/0/0/global/design/haravan/h_library/js/jquery-1.11.3.min.js" as="script"> 
		<!--+++++++++++++ CSS THEME ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        <link href='//fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap' rel='stylesheet' type='text/css'  media='all'  />
        
         <meta property="og:type" content="product" />
        <meta property="og:title" content="Balo Quốc Dân Trắng - BQD Trắng" />
        <meta property="og:image" content="http://product.hstatic.net/1000281824/product/541_e09d798fb1f741cf94f4cfac24ab8b0d_grande.jpg" />
        <meta property="og:image:secure_url" content="https://product.hstatic.net/1000281824/product/541_e09d798fb1f741cf94f4cfac24ab8b0d_grande.jpg" />
        <meta property="og:image:alt" content="Balo Quốc Dân Trắng - BQD Trắng" />
        <meta property="og:price:amount" content="250000" />
        <meta property="og:price:currency" content="VND" />
        <meta property="og:description" content="- Chất liệu: Canvas pha Poly- Hoạ tiết: Được in trực tiếp l&#234;n sản phẩm- Size: 40cm X 30cm X 12cm- Ngăn chống sốc đựng vừa laptop 15inch&#160;- Thương hiệu: Degrey- Sản xuất: Việt Nam- M&#224;u sắc v&#224; họa tiết được thiết kế ri&#234;ng bởi team design DEGREY&#160;+ HƯỚNG DẪN BẢO QUẢN SẢN PHẨM DEGREY:- Kh&#244;ng d&#249;ng h&#243;a chất tẩy mạnh l&#234;n sản ph" />
        <meta property="og:url" content="https://degrey.vn/products/balo-quoc-dan-trang-bqd-trang" />
        <meta property="og:site_name" content="DEGREY VIETNAM" /><!-- Google -->		
                <!-- SEO META DESCRIPTION -->
        <meta name="description" content="- Chất liệu: Canvas pha Poly- Hoạ tiết: Được in trực tiếp lên sản phẩm- Size: 40cm X 30cm X 12cm- Ngăn chống sốc đựng vừa laptop 15inch - Thương hiệu: Degrey- Sản xuất: Việt Nam- Màu sắc và họa tiết được thiết kế riêng bởi team design DEGREY + HƯỚNG DẪN BẢO QUẢN SẢN PHẨM DEGREY:- Không dùng hóa chất tẩy mạnh lên sản ph" />

        <meta itemprop='name' content='Balo Quốc Dân Trắng - BQD Trắng'>
        <meta itemprop='brand' content='DEGREY'>
        <meta itemprop='image' content='https://product.hstatic.net/1000281824/product/541_e09d798fb1f741cf94f4cfac24ab8b0d.jpg'/>
        <span itemprop='offers' itemscope itemtype='http://schema.org/Offer'>
        <meta itemprop='priceCurrency' content='VND'/>
        <meta itemprop='price' content='250000'/>
        <link itemprop='itemCondition' href='http://schema.org/NewCondition'/>
        <link itemprop='availability' href='http://schema.org/InStock'/>
        <!-- END SEO META DESCRIPTION -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

        <link href='//theme.hstatic.net/1000281824/1000909729/14/style-themes.scss.css?v=35' rel='stylesheet' type='text/css'  media='all'  />

    </head>

    <body>
        <footer class="mainFooter  mainFooter-product   ">
            <div class="footer-container">
                <div class="footer-call-center">
                    <div class="container">
                        <div class="flexbox-callcenter">
                            <div class="infocc">
                                <div class="infocc-box">
                                    <span class="txtcc txt-init">Bán hàng 9:00 - 22:00</span><span class="txtcc txt-bold"><i class="fa fa-phone-square" aria-hidden="true"></i> <a href="tel:0336311117">0336311117</a></span>						
                                </div>
                            </div>
                            <div class="infocc">
                                <div class="infocc-box">
                                    <span class="txtcc txt-init">Khiếu nại 9:00 - 21:30</span><span class="txtcc txt-bold"><i class="fa fa-phone-square" aria-hidden="true"></i> <a href="tel:0775913335">0775913335</a></span>						
                                </div>
                            </div>
                            <div class="infocc expand-title">
                                <div class="infocc-box">
                                    <span class="txtcc txt-init">Xem thêm <br> thông tin</span>
                                    <span class="txtcc txt-icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-expand-collapsed">
                    <div class="footer-maininfo">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-6 col-sm-12 col-xs-12 widget-footer">
                                    <h4 class="title-footer">Về DEGREY</h4>
                                    <div class="content-footer block-collapse row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <p>Cái tên Degrey được tạo ra rất ngẫu hứng, xuất phát từ “Chuỗi ngày u buồn về sự nghiệp, tương lai trong quá khứ của chính mình” – theo lời chia sẻ của Degrey’s founder. </p>
                                            
                                            <div class="logo-footer hidden-xs" >
                                                <a href="/" target="_blank" rel="noreferrer">
                                                    <img class="lazyload" data-src="https://file.hstatic.net/1000397797/file/logo-bct-min_5c275261c7204ddf9c30a3a2eb1534e5.png" 
                                                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                                            alt="Bộ Công Thương" >
                                                </a>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="address-footer">
                                                <ul>
        <li class="contact-1"><b>Địa chỉ </b><br><br> <b>-Sài Gòn:<br></b> 43 Huỳnh Văn Bánh P.17 Q.Phú Nhuận<br>1041 Luỹ Bán Bích P.Tân Thành Q.Tân Phú<br>26 Lý Tự Trọng Q.1  - The New Playground<br> <b>-Đà Lạt:</b><br>11 Khu Hoà Bình P.1</li><li class="contact-2"><b>Điện thoại:</b> 0336311117</li><li class="contact-4"><b>Email:</b> degrey.vn@gmail.com</li>										</ul>
                                            </div>
                                            
                                            <div class="logo-footer visible-xs" >
                                                <a href="/" target="_blank" rel="noreferrer">
                                                    <img class="lazyload" data-src="https://file.hstatic.net/1000397797/file/logo-bct-min_5c275261c7204ddf9c30a3a2eb1534e5.png" 
                                                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                                            alt="Bộ Công Thương" >
                                                </a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="col-md-3 col-sm-12 col-xs-12 widget-footer">
                                    <h4 class="title-footer">Hỗ trợ khách hàng</h4>
                                    <div class="content-footer block-collapse">				
                                        <ul class="footerNav-link">
                                            
                                            <li class="item">
                                                <a href="/collections/tat-ca-san-pham" title="Shop">Shop</a>
                                            </li>
                                            
                                            <li class="item">
                                                <a href="/pages/huong-dan-dat-hang-1" title="Hướng dẫn đặt hàng">Hướng dẫn đặt hàng</a>
                                            </li>
                                            
                                            <li class="item">
                                                <a href="/pages/chinh-sach-va-quy-dinh" title="Chính sách và quy định">Chính sách và quy định</a>
                                            </li>
                                            
                                            <li class="item">
                                                <a href="/pages/chi-nh-sa-ch-ba-o-ma-t" title="Chính sách bảo mật">Chính sách bảo mật</a>
                                            </li>
                                            
                                            <li class="item">
                                                <a href="/pages/lien-he" title="Thông tin sở hữu">Thông tin sở hữu</a>
                                            </li>
                                                
                                        </ul>			
                                    </div>
                                </div>
                                
                                <div class="col-md-3 col-sm-12 col-xs-12 widget-footer">	

                                    <h4 class="title-footer">Chăm sóc khách hàng</h4>
                                    <div class="content-footer block-collapse">
                                        <div class="footerInfo-hline">
                                            <div class="box-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 473.806 473.806" style="enable-background:new 0 0 473.806 473.806;" xml:space="preserve"> <g> <g> <path d="M374.456,293.506c-9.7-10.1-21.4-15.5-33.8-15.5c-12.3,0-24.1,5.3-34.2,15.4l-31.6,31.5c-2.6-1.4-5.2-2.7-7.7-4 c-3.6-1.8-7-3.5-9.9-5.3c-29.6-18.8-56.5-43.3-82.3-75c-12.5-15.8-20.9-29.1-27-42.6c8.2-7.5,15.8-15.3,23.2-22.8 c2.8-2.8,5.6-5.7,8.4-8.5c21-21,21-48.2,0-69.2l-27.3-27.3c-3.1-3.1-6.3-6.3-9.3-9.5c-6-6.2-12.3-12.6-18.8-18.6 c-9.7-9.6-21.3-14.7-33.5-14.7s-24,5.1-34,14.7c-0.1,0.1-0.1,0.1-0.2,0.2l-34,34.3c-12.8,12.8-20.1,28.4-21.7,46.5 c-2.4,29.2,6.2,56.4,12.8,74.2c16.2,43.7,40.4,84.2,76.5,127.6c43.8,52.3,96.5,93.6,156.7,122.7c23,10.9,53.7,23.8,88,26 c2.1,0.1,4.3,0.2,6.3,0.2c23.1,0,42.5-8.3,57.7-24.8c0.1-0.2,0.3-0.3,0.4-0.5c5.2-6.3,11.2-12,17.5-18.1c4.3-4.1,8.7-8.4,13-12.9 c9.9-10.3,15.1-22.3,15.1-34.6c0-12.4-5.3-24.3-15.4-34.3L374.456,293.506z M410.256,398.806 C410.156,398.806,410.156,398.906,410.256,398.806c-3.9,4.2-7.9,8-12.2,12.2c-6.5,6.2-13.1,12.7-19.3,20 c-10.1,10.8-22,15.9-37.6,15.9c-1.5,0-3.1,0-4.6-0.1c-29.7-1.9-57.3-13.5-78-23.4c-56.6-27.4-106.3-66.3-147.6-115.6 c-34.1-41.1-56.9-79.1-72-119.9c-9.3-24.9-12.7-44.3-11.2-62.6c1-11.7,5.5-21.4,13.8-29.7l34.1-34.1c4.9-4.6,10.1-7.1,15.2-7.1 c6.3,0,11.4,3.8,14.6,7c0.1,0.1,0.2,0.2,0.3,0.3c6.1,5.7,11.9,11.6,18,17.9c3.1,3.2,6.3,6.4,9.5,9.7l27.3,27.3 c10.6,10.6,10.6,20.4,0,31c-2.9,2.9-5.7,5.8-8.6,8.6c-8.4,8.6-16.4,16.6-25.1,24.4c-0.2,0.2-0.4,0.3-0.5,0.5 c-8.6,8.6-7,17-5.2,22.7c0.1,0.3,0.2,0.6,0.3,0.9c7.1,17.2,17.1,33.4,32.3,52.7l0.1,0.1c27.6,34,56.7,60.5,88.8,80.8 c4.1,2.6,8.3,4.7,12.3,6.7c3.6,1.8,7,3.5,9.9,5.3c0.4,0.2,0.8,0.5,1.2,0.7c3.4,1.7,6.6,2.5,9.9,2.5c8.3,0,13.5-5.2,15.2-6.9 l34.2-34.2c3.4-3.4,8.8-7.5,15.1-7.5c6.2,0,11.3,3.9,14.4,7.3c0.1,0.1,0.1,0.1,0.2,0.2l55.1,55.1 C420.456,377.706,420.456,388.206,410.256,398.806z"></path> <path d="M256.056,112.706c26.2,4.4,50,16.8,69,35.8s31.3,42.8,35.8,69c1.1,6.6,6.8,11.2,13.3,11.2c0.8,0,1.5-0.1,2.3-0.2 c7.4-1.2,12.3-8.2,11.1-15.6c-5.4-31.7-20.4-60.6-43.3-83.5s-51.8-37.9-83.5-43.3c-7.4-1.2-14.3,3.7-15.6,11 S248.656,111.506,256.056,112.706z"></path> <path d="M473.256,209.006c-8.9-52.2-33.5-99.7-71.3-137.5s-85.3-62.4-137.5-71.3c-7.3-1.3-14.2,3.7-15.5,11 c-1.2,7.4,3.7,14.3,11.1,15.6c46.6,7.9,89.1,30,122.9,63.7c33.8,33.8,55.8,76.3,63.7,122.9c1.1,6.6,6.8,11.2,13.3,11.2 c0.8,0,1.5-0.1,2.3-0.2C469.556,223.306,474.556,216.306,473.256,209.006z"></path> </g> </g> </svg>
                                            </div>
                                            <div class="box-content">
                                                <span>0336311117</span>
                                                <u>degrey.vn@gmail.com</u>
                                            </div>
                                        </div>
                                        

                                        <h4 class="fter-title">Follow Us</h4>

                                        <ul class="footerNav-social">											
                                            <li>
                                                <a href="/blogs/news/follow-degrey" target="_blank" rel="noopener" title="Facebook" aria-label="Facebook"><i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            
                                            <li>
                                                <a href="/blogs/news/follow-degrey" target="_blank" rel="noopener" title="Twitter" aria-label="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li>
                                                <a href="/blogs/news/follow-degrey" target="_blank" rel="noopener" title="Instagram" aria-label="Instagram"><i class="fa fa-instagram"></i></a>
                                            </li>
                                            <li><a href="/blogs/news/follow-degrey" target="_blank" rel="noopener" title="Google Plus" aria-label="Google Plus"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                            <li>
                                                <a href="/blogs/news/follow-degrey" target="_blank" rel="noopener" title="Youtube" aria-label="Youtube"><i class="fa fa-youtube-play"></i></a>
                                            </li>								
                                        </ul>
                                    </div>


                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="footer-copyright text-center">
                        <div class="container">
                            <p>Copyright © 2022 <a href="https://degrey.vn"> DEGREY VIETNAM</a>. 
                                <a target="_blank" href="https://www.haravan.com"  rel="noreferrer">Powered by Haravan</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>	
        </footer>
    </body>
</html>

